body {
  font-family: Albert Sans;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 10rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 12.5rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 6rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 7.5rem;
}
.display-4 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.625rem;
}
.display-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 3.3rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 4.125rem;
}
.display-7 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 2.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 7rem;
    font-size: calc( 4.1499999999999995rem + (10 - 4.1499999999999995) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (4.1499999999999995rem + (10 - 4.1499999999999995) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 4.8rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.04rem;
    font-size: calc( 1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2.64rem;
    font-size: calc( 1.805rem + (3.3 - 1.805) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.805rem + (3.3 - 1.805) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
}
.display-2 {
  line-height: 1;
}
.display-5 {
  line-height: 1;
}
.display-7 {
  line-height: 1.2;
}
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.8rem;
    line-height: 1.2;
  }
}
@media (max-width: 992px) {
  .display-2 {
    font-size: 3.6rem;
    line-height: 1.2;
  }
}
@media (max-width: 767px) {
  .display-2 {
    font-size: 2.4rem;
    line-height: 1.2;
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #17003b !important;
}
.bg-success {
  background-color: #6bffc7 !important;
}
.bg-info {
  background-color: #6500e0 !important;
}
.bg-warning {
  background-color: #fffa63 !important;
}
.bg-danger {
  background-color: #ffb18a !important;
}
.btn-primary {
  margin-right: 2rem;
  position: relative;
  border: 0;
  border-radius: 0px;
  z-index: 1;
  box-shadow: none;
  overflow: hidden;
  background-color: inherit;
}
.btn-primary,
.btn-primary:active {
  background-color: #17003b !important;
  border-color: #17003b !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  transform: translateX(-102%);
  transition: all 0.3s;
}
.btn-primary:hover {
  box-shadow: none;
  color: #17003b !important;
}
.btn-primary:hover:before {
  transform: translateX(0);
}
.btn-secondary {
  margin-right: 2rem;
  position: relative;
  border: 0;
  border-radius: 0px;
  z-index: 1;
  box-shadow: none;
  overflow: hidden;
  background-color: inherit;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff57be !important;
  border-color: #ff57be !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff009c !important;
  border-color: #ff009c !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff009c !important;
  border-color: #ff009c !important;
}
.btn-secondary:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  transform: translateX(-102%);
  transition: all 0.3s;
}
.btn-secondary:hover {
  box-shadow: none;
  color: #ff57be !important;
}
.btn-secondary:hover:before {
  transform: translateX(0);
}
.btn-info {
  margin-right: 2rem;
  position: relative;
  border: 0;
  border-radius: 0px;
  z-index: 1;
  box-shadow: none;
  overflow: hidden;
  background-color: inherit;
}
.btn-info,
.btn-info:active {
  background-color: #6500e0 !important;
  border-color: #6500e0 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #3e0089 !important;
  border-color: #3e0089 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #3e0089 !important;
  border-color: #3e0089 !important;
}
.btn-info:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  transform: translateX(-102%);
  transition: all 0.3s;
}
.btn-info:hover {
  box-shadow: none;
  color: #6500e0 !important;
}
.btn-info:hover:before {
  transform: translateX(0);
}
.btn-success {
  margin-right: 2rem;
  position: relative;
  border: 0;
  border-radius: 0px;
  z-index: 1;
  box-shadow: none;
  overflow: hidden;
  background-color: inherit;
}
.btn-success,
.btn-success:active {
  background-color: #6bffc7 !important;
  border-color: #6bffc7 !important;
  color: #006b43 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #00140d !important;
  background-color: #14ffa6 !important;
  border-color: #14ffa6 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #006b43 !important;
  background-color: #14ffa6 !important;
  border-color: #14ffa6 !important;
}
.btn-success:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  transform: translateX(-102%);
  transition: all 0.3s;
}
.btn-success:hover {
  box-shadow: none;
  color: #6bffc7 !important;
}
.btn-success:hover:before {
  transform: translateX(0);
}
.btn-warning {
  margin-right: 2rem;
  position: relative;
  border: 0;
  border-radius: 0px;
  z-index: 1;
  box-shadow: none;
  overflow: hidden;
  background-color: inherit;
}
.btn-warning,
.btn-warning:active {
  background-color: #fffa63 !important;
  border-color: #fffa63 !important;
  color: #636000 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0c0c00 !important;
  background-color: #fff70c !important;
  border-color: #fff70c !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #636000 !important;
  background-color: #fff70c !important;
  border-color: #fff70c !important;
}
.btn-warning:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  transform: translateX(-102%);
  transition: all 0.3s;
}
.btn-warning:hover {
  box-shadow: none;
  color: #fffa63 !important;
}
.btn-warning:hover:before {
  transform: translateX(0);
}
.btn-danger {
  margin-right: 2rem;
  position: relative;
  border: 0;
  border-radius: 0px;
  z-index: 1;
  box-shadow: none;
  overflow: hidden;
  background-color: inherit;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffb18a !important;
  border-color: #ffb18a !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff7733 !important;
  border-color: #ff7733 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff7733 !important;
  border-color: #ff7733 !important;
}
.btn-danger:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  transform: translateX(-102%);
  transition: all 0.3s;
}
.btn-danger:hover {
  box-shadow: none;
  color: #ffb18a !important;
}
.btn-danger:hover:before {
  transform: translateX(0);
}
.btn-white {
  margin-right: 2rem;
  position: relative;
  border: 0;
  border-radius: 0px;
  z-index: 1;
  box-shadow: none;
  overflow: hidden;
  background-color: inherit;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-white:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  transform: translateX(-102%);
  transition: all 0.3s;
}
.btn-white:hover {
  box-shadow: none;
  color: #fafafa !important;
}
.btn-white:hover:before {
  transform: translateX(0);
}
.btn-black {
  margin-right: 2rem;
  position: relative;
  border: 0;
  border-radius: 0px;
  z-index: 1;
  box-shadow: none;
  overflow: hidden;
  background-color: inherit;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  transform: translateX(-102%);
  transition: all 0.3s;
}
.btn-black:hover {
  box-shadow: none;
  color: #232323 !important;
}
.btn-black:hover:before {
  transform: translateX(0);
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #17003b;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #17003b !important;
  border-color: #17003b !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff57be;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff009c !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff57be !important;
  border-color: #ff57be !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6500e0;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #3e0089 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #6500e0 !important;
  border-color: #6500e0 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6bffc7;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #14ffa6 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #006b43 !important;
  background-color: #6bffc7 !important;
  border-color: #6bffc7 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fffa63;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #fff70c !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #636000 !important;
  background-color: #fffa63 !important;
  border-color: #fffa63 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffb18a;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff7733 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ffb18a !important;
  border-color: #ffb18a !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #17003b !important;
}
.text-secondary {
  color: #ff57be !important;
}
.text-success {
  color: #6bffc7 !important;
}
.text-info {
  color: #6500e0 !important;
}
.text-warning {
  color: #fffa63 !important;
}
.text-danger {
  color: #ffb18a !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #17003b !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff57be !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #6bffc7 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #6500e0 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #fffa63 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ffb18a !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #fafafa !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #232323 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: none;
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #17003b;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #6500e0;
}
.alert-warning {
  background-color: #fffa63;
}
.alert-danger {
  background-color: #ffb18a;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #17003b;
  border-color: #17003b;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #17003b;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #7821ff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #d2adff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.625rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #17003b !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.625rem;
}
blockquote {
  border-color: #17003b;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #17003b;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #17003b;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #17003b;
  border-bottom-color: #17003b;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #17003b !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff57be !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2317003b' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tqJ3oCafDp .navbar-dropdown {
  position: relative !important;
}
.cid-tqJ3oCafDp .navbar-dropdown {
  position: absolute !important;
}
@media (min-width: 992px) {
  .cid-tqJ3oCafDp .nav-dropdown {
    margin-top: 2rem;
  }
}
.cid-tqJ3oCafDp .navbar {
  min-height: 140px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: rgba(23, 0, 59, 0);
}
.cid-tqJ3oCafDp .navbar.opened {
  transition: all 0.3s;
}
.cid-tqJ3oCafDp .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tqJ3oCafDp .navbar .navbar-logo img {
  width: auto;
}
.cid-tqJ3oCafDp .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tqJ3oCafDp .navbar.collapsed {
  justify-content: center;
}
.cid-tqJ3oCafDp .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tqJ3oCafDp .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tqJ3oCafDp .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 8rem);
  }
}
.cid-tqJ3oCafDp .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tqJ3oCafDp .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tqJ3oCafDp .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tqJ3oCafDp .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tqJ3oCafDp .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tqJ3oCafDp .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tqJ3oCafDp .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tqJ3oCafDp .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tqJ3oCafDp .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tqJ3oCafDp .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tqJ3oCafDp .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tqJ3oCafDp .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tqJ3oCafDp .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tqJ3oCafDp .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tqJ3oCafDp .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tqJ3oCafDp .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tqJ3oCafDp .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tqJ3oCafDp .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tqJ3oCafDp .navbar.navbar-short {
  min-height: 60px;
}
.cid-tqJ3oCafDp .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tqJ3oCafDp .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tqJ3oCafDp .navbar-logo {
  margin: 0;
}
.cid-tqJ3oCafDp .container,
.cid-tqJ3oCafDp .container-fluid {
  justify-content: flex-end;
  min-height: 100px;
}
@media (max-width: 767px) {
  .cid-tqJ3oCafDp .container,
  .cid-tqJ3oCafDp .container-fluid {
    justify-content: space-between;
  }
}
.cid-tqJ3oCafDp .navbar-brand {
  margin: auto !important;
  position: absolute;
  width: 200px;
  flex-direction: column;
  top: -5px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0 !important;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tqJ3oCafDp .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tqJ3oCafDp .navbar-brand .navbar-logo a {
  outline: none;
  margin-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-tqJ3oCafDp .navbar-brand {
    display: none;
  }
}
.cid-tqJ3oCafDp .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tqJ3oCafDp .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tqJ3oCafDp .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tqJ3oCafDp .dropdown-item:hover,
.cid-tqJ3oCafDp .dropdown-item:focus {
  background: #17003b !important;
  color: white !important;
}
.cid-tqJ3oCafDp .dropdown-item:hover span {
  color: white;
}
.cid-tqJ3oCafDp .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tqJ3oCafDp .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tqJ3oCafDp .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.2em 1em !important;
}
.cid-tqJ3oCafDp .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tqJ3oCafDp .nav-link {
  position: relative;
}
.cid-tqJ3oCafDp .container {
  display: flex;
  margin: auto;
}
.cid-tqJ3oCafDp .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tqJ3oCafDp .dropdown-menu,
.cid-tqJ3oCafDp .navbar.opened {
  background: #17003b !important;
}
.cid-tqJ3oCafDp .nav-item:focus,
.cid-tqJ3oCafDp .nav-link:focus {
  outline: none;
}
.cid-tqJ3oCafDp .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tqJ3oCafDp .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tqJ3oCafDp .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tqJ3oCafDp .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tqJ3oCafDp .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tqJ3oCafDp .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tqJ3oCafDp .dropdown-item.active,
.cid-tqJ3oCafDp .dropdown-item:active {
  background-color: transparent;
}
.cid-tqJ3oCafDp .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tqJ3oCafDp .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tqJ3oCafDp .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tqJ3oCafDp .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #17003b;
}
.cid-tqJ3oCafDp .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tqJ3oCafDp .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tqJ3oCafDp ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tqJ3oCafDp .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tqJ3oCafDp button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tqJ3oCafDp button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-tqJ3oCafDp button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tqJ3oCafDp button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tqJ3oCafDp button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tqJ3oCafDp button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tqJ3oCafDp nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tqJ3oCafDp nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tqJ3oCafDp nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tqJ3oCafDp nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tqJ3oCafDp .navbar-dropdown {
  padding: 0 1rem;
}
.cid-tqJ3oCafDp a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tqJ3oCafDp .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tqJ3oCafDp .navbar {
    height: 70px;
  }
  .cid-tqJ3oCafDp .navbar.opened {
    height: auto;
  }
  .cid-tqJ3oCafDp .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tqJ3oa7HGE {
  padding-top: 15rem;
  padding-bottom: 13rem;
  background-image: url("../../../assets/images/pexels-photo-1416346.jpeg-2000x1398.jpg");
  overflow: hidden;
}
.cid-tqJ3oa7HGE .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqJ3oa7HGE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tqJ3oa7HGE path {
  fill: #17003b;
}
@keyframes wave3 {
  0% {
    transform: scaleY(0.9) translate(-50%, -50%);
  }
  50% {
    transform: scaleY(1.1) translate(-50%, -50%);
  }
  100% {
    transform: scaleY(0.9) translate(-50%, -50%);
  }
}
.cid-tqJ3oa7HGE b,
.cid-tqJ3oa7HGE strong {
  font-weight: 900;
}
.cid-tqJ3oa7HGE svg {
  position: absolute;
  top: 30px;
  left: 45%;
  right: 50%;
  animation: 5s ease infinite wave3;
  transform-origin: top;
  transform: scaleY(0.8) translate(-50%, -50%);
}
.cid-tqJ3oa7HGE a {
  font-weight: 900;
  background: #ff57be;
}
.cid-tqJ3oa7HGE .mbr-section-subtitle {
  text-align: center;
  color: #ffffff;
}
.cid-tqJ3oa7HGE .mbr-text,
.cid-tqJ3oa7HGE .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-tqJ3oa7HGE .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-tqJ3ClteMg {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #17003b;
}
.cid-tqJ3ClteMg .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqJ3ClteMg .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@keyframes wave2 {
  0% {
    transform: scaleY(0.8);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.8);
  }
}
.cid-tqJ3ClteMg #gentle-wave {
  fill: #17003b;
}
.cid-tqJ3ClteMg .svg2 {
  background: transparent;
  position: absolute;
  bottom: 100%;
  animation: 5s ease infinite wave2;
  transform: scaleY(0.8);
  transform-origin: bottom;
}
.cid-tqJ3ClteMg b {
  font-weight: 900;
}
.cid-tqJ3ClteMg .row {
  flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-tqJ3ClteMg img {
    padding: 0 4rem;
  }
}
@media (max-width: 992px) {
  .cid-tqJ3ClteMg img {
    padding-bottom: 2rem;
  }
}
@keyframes wave1 {
  0% {
    left: -30%;
  }
  100% {
    left: -1%;
  }
}
.cid-tqJ3ClteMg .link-wrapper {
  width: fit-content;
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  padding-bottom: 10px;
}
.cid-tqJ3ClteMg .link-wrapper .svg1 {
  position: absolute;
  top: 60%;
  width: 130%;
  min-width: 300px;
  left: -30%;
  height: auto;
}
.cid-tqJ3ClteMg .link-wrapper .svg1 path {
  stroke: currentColor !important;
}
.cid-tqJ3ClteMg .link-wrapper:hover .svg1 {
  animation: 1s linear forwards infinite wave1;
}
.cid-tqJ3ClteMg .row {
  align-items: center;
}
.cid-tqJ3ClteMg .mbr-section-title {
  color: #ffffff;
}
.cid-tqJ3ClteMg .mbr-text,
.cid-tqJ3ClteMg .mbr-section-btn {
  color: #ffffff;
}
.cid-tqJ3ClteMg .mbr-link,
.cid-tqJ3ClteMg .link-wrapper {
  color: #ffffff;
}
.cid-uMJwdvBzK2 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #17003b;
}
.cid-uMJwdvBzK2 .custom-shape-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.cid-uMJwdvBzK2 .custom-shape-divider svg {
  position: relative;
  display: block;
  width: calc(101.3%);
  height: 40px;
}
.cid-uMJwdvBzK2 .custom-shape-divider .shape-fill {
  fill: #ffffff;
}
.cid-tqJ3ABTmeu {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tqJ3ABTmeu .item-subtitle {
  width: fit-content;
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-bottom: 1rem;
  text-align: center;
  color: #17003b;
}
.cid-tqJ3ABTmeu .item-subtitle:before {
  content: '';
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  transition: all 0.3s;
  left: 0;
  background: #ff9966;
  z-index: -1;
}
.cid-tqJ3ABTmeu .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-tqJ3ABTmeu .item-wrapper:hover .item-subtitle:before {
  width: 0%;
}
@media (min-width: 992px) {
  .cid-tqJ3ABTmeu .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tqJ3ABTmeu .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-tqJ3ABTmeu b,
.cid-tqJ3ABTmeu strong {
  font-weight: 900;
}
.cid-tqJ3ABTmeu img,
.cid-tqJ3ABTmeu .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-tqJ3ABTmeu .item:focus,
.cid-tqJ3ABTmeu span:focus {
  outline: none;
}
.cid-tqJ3ABTmeu .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tqJ3ABTmeu .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tqJ3ABTmeu .mbr-section-title {
  color: #17003b;
}
.cid-tqJ3ABTmeu .mbr-text,
.cid-tqJ3ABTmeu .mbr-section-btn {
  text-align: center;
  color: #17003b;
}
.cid-tqJ3ABTmeu .item-title {
  text-align: center;
  color: #17003b;
}
.cid-tqJ3ABTmeu .mbr-section-subtitle {
  color: #17003b;
}
.cid-tqJ3ABTmeu .item-subtitle,
.cid-tqJ3ABTmeu .item-content {
  text-align: center;
}
.cid-uMJwnWY2xK {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #17003b;
}
.cid-uMJwnWY2xK .custom-shape-divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.cid-uMJwnWY2xK .custom-shape-divider svg {
  position: relative;
  display: block;
  width: calc(101.3%);
  height: 40px;
}
.cid-uMJwnWY2xK .custom-shape-divider .shape-fill {
  fill: #ffffff;
}
.cid-tqJ4Lz1YWs {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #17003b;
}
.cid-tqJ4Lz1YWs .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqJ4Lz1YWs .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@keyframes wave1 {
  0% {
    left: -30%;
  }
  100% {
    left: -1%;
  }
}
.cid-tqJ4Lz1YWs b,
.cid-tqJ4Lz1YWs strong {
  font-weight: 900;
}
@media (min-width: 992px) {
  .cid-tqJ4Lz1YWs img {
    padding: 0 4rem;
  }
}
@media (max-width: 992px) {
  .cid-tqJ4Lz1YWs img {
    padding-bottom: 2rem;
  }
}
.cid-tqJ4Lz1YWs .link-wrapper {
  width: fit-content;
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  padding-bottom: 10px;
}
.cid-tqJ4Lz1YWs .link-wrapper .svg1 {
  position: absolute;
  top: 60%;
  width: 130%;
  min-width: 300px;
  left: -30%;
  height: auto;
}
.cid-tqJ4Lz1YWs .link-wrapper .svg1 path {
  stroke: currentColor !important;
}
.cid-tqJ4Lz1YWs .link-wrapper:hover .svg1 {
  animation: 1s linear forwards infinite wave1;
}
.cid-tqJ4Lz1YWs .row {
  align-items: center;
}
.cid-tqJ4Lz1YWs .mbr-section-title {
  color: #ffffff;
}
.cid-tqJ4Lz1YWs .mbr-text,
.cid-tqJ4Lz1YWs .mbr-section-btn {
  color: #ffffff;
}
.cid-tqJ4Lz1YWs .mbr-link,
.cid-tqJ4Lz1YWs .link-wrapper {
  color: #ffffff;
}
.cid-tqJ4Lz1YWs .mbr-text,
.cid-tqJ4Lz1YWs .text-wrapper {
  color: #ffffff;
}
.cid-tqJ4Lz1YWs .mbr-link,
.cid-tqJ4Lz1YWs .text-wrapper,
.cid-tqJ4Lz1YWs path {
  color: #17003b;
}
.cid-uMPrHZKPt3 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #17003b;
}
.cid-uMPrHZKPt3 .custom-shape-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.cid-uMPrHZKPt3 .custom-shape-divider svg {
  position: relative;
  display: block;
  width: calc(101.3%);
  height: 40px;
}
.cid-uMPrHZKPt3 .custom-shape-divider .shape-fill {
  fill: #ffffff;
}
.cid-tqJ3zDkIcR {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #ffffff;
}
.cid-tqJ3zDkIcR .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqJ3zDkIcR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tqJ3zDkIcR .mbr-iconfont {
  display: block;
  font-size: 10rem;
  color: #17003b;
  margin-bottom: 3rem;
}
.cid-tqJ3zDkIcR b,
.cid-tqJ3zDkIcR strong {
  font-weight: 900;
}
@keyframes wave1 {
  0% {
    left: -30%;
  }
  100% {
    left: -1%;
  }
}
.cid-tqJ3zDkIcR .link-wrapper {
  width: fit-content;
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  padding-bottom: 10px;
}
.cid-tqJ3zDkIcR .link-wrapper .svg1 {
  position: absolute;
  top: 60%;
  width: 130%;
  min-width: 300px;
  left: -30%;
  height: auto;
}
.cid-tqJ3zDkIcR .link-wrapper .svg1 path {
  stroke: currentColor !important;
}
.cid-tqJ3zDkIcR .link-wrapper:hover .svg1 {
  animation: 1s linear forwards infinite wave1;
}
.cid-tqJ3zDkIcR .card {
  padding: 0;
}
.cid-tqJ3zDkIcR .container-fluid {
  padding: 0;
}
.cid-tqJ3zDkIcR .container-fluid .row {
  margin: 0;
}
.cid-tqJ3zDkIcR .card-wrap {
  padding: 8rem 5rem;
  height: 100%;
}
@media (max-width: 1400px) {
  .cid-tqJ3zDkIcR .card-wrap {
    padding: 4rem 3.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tqJ3zDkIcR .card-wrap {
    padding: 3rem 1rem;
  }
}
.cid-tqJ3zDkIcR .card1 {
  background: #ffffff;
}
.cid-tqJ3zDkIcR .card2 {
  background: #ffffff;
}
.cid-tqJ3zDkIcR .card3 {
  background: #ffffff;
}
.cid-tqJ3zDkIcR .card-text,
.cid-tqJ3zDkIcR .mbr-section-btn,
.cid-tqJ3zDkIcR .social-row {
  color: #17003b;
  text-align: center;
}
.cid-tqJ3zDkIcR .card-title,
.cid-tqJ3zDkIcR .social-row {
  color: #17003b;
  text-align: center;
}
.cid-tqJ3zDkIcR .mbr-link,
.cid-tqJ3zDkIcR .content-wrap,
.cid-tqJ3zDkIcR path {
  color: #17003b;
  text-align: center;
}
.cid-tqJ3zDkIcR .mbr-link,
.cid-tqJ3zDkIcR .text-wrapper,
.cid-tqJ3zDkIcR path {
  color: #17003b;
}
.cid-uMPrRV6Te7 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #17003b;
}
.cid-uMPrRV6Te7 .custom-shape-divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.cid-uMPrRV6Te7 .custom-shape-divider svg {
  position: relative;
  display: block;
  width: calc(101.3%);
  height: 40px;
}
.cid-uMPrRV6Te7 .custom-shape-divider .shape-fill {
  fill: #ffffff;
}
.cid-uMPkcfv5Gc {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #17003b;
}
.cid-uMPkcfv5Gc .mbr-fallback-image.disabled {
  display: none;
}
.cid-uMPkcfv5Gc .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uMPkcfv5Gc b,
.cid-uMPkcfv5Gc strong {
  font-weight: 900;
}
@media (min-width: 992px) {
  .cid-uMPkcfv5Gc img {
    padding: 0 4rem;
  }
}
@media (max-width: 992px) {
  .cid-uMPkcfv5Gc img {
    padding-bottom: 2rem;
  }
}
.cid-uMPkcfv5Gc .row {
  align-items: center;
}
.cid-uMPkcfv5Gc .mbr-section-title {
  color: #ffffff;
}
.cid-uMPkcfv5Gc .mbr-text,
.cid-uMPkcfv5Gc .mbr-section-btn {
  color: #ffffff;
}
.cid-uMPkcfv5Gc .mbr-section-subtitle {
  color: #ffffff;
}
.cid-uMJwu41Tgd {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #17003b;
}
.cid-uMJwu41Tgd .custom-shape-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.cid-uMJwu41Tgd .custom-shape-divider svg {
  position: relative;
  display: block;
  width: calc(101.3%);
  height: 40px;
}
.cid-uMJwu41Tgd .custom-shape-divider .shape-fill {
  fill: #ffffff;
}
.cid-uMPmJxW2eD {
  padding-top: 6rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-uMPmJxW2eD .mbr-section-head {
  margin-bottom: 32px;
}
.cid-uMPmJxW2eD .mbr-section-title {
  color: #17003b;
}
.cid-uMPmJxW2eD .mbr-section-subtitle {
  margin-top: 16px;
  color: #24262b;
}
.cid-uMPmJxW2eD .card {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  padding: 2rem 3rem !important;
}
@media (max-width: 767px) {
  .cid-uMPmJxW2eD .card {
    padding: 1rem !important;
  }
}
.cid-uMPmJxW2eD .card:hover {
  transform: translateY(-1rem);
}
.cid-uMPmJxW2eD .card img {
  max-width: 200px;
  height: auto;
}
.cid-uMJwwo0d4H {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #17003b;
}
.cid-uMJwwo0d4H .custom-shape-divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.cid-uMJwwo0d4H .custom-shape-divider svg {
  position: relative;
  display: block;
  width: calc(101.3%);
  height: 40px;
}
.cid-uMJwwo0d4H .custom-shape-divider .shape-fill {
  fill: #ffffff;
}
.cid-tqJ4yhl4dX {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #17003b;
}
.cid-tqJ4yhl4dX .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqJ4yhl4dX .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tqJ4yhl4dX .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-tqJ4yhl4dX .mbr-text,
.cid-tqJ4yhl4dX .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-tqJ4yhl4dX b,
.cid-tqJ4yhl4dX strong {
  font-weight: 900;
}
.cid-tqJ4yhl4dX .mbr-section-subtitle {
  text-align: center;
  color: #ffffff;
}
.cid-tqJ4vA5QrU {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #ffffff;
}
.cid-tqJ4vA5QrU .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqJ4vA5QrU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tqJ4vA5QrU .btn {
  width: 100%;
}
.cid-tqJ4vA5QrU .mbr-section-btn {
  width: 100%;
}
.cid-tqJ4vA5QrU b,
.cid-tqJ4vA5QrU strong {
  font-weight: 900;
}
.cid-tqJ4vA5QrU .card {
  padding: 0;
}
.cid-tqJ4vA5QrU .container-fluid {
  padding: 0;
}
.cid-tqJ4vA5QrU .container-fluid .row {
  margin: 0;
}
.cid-tqJ4vA5QrU .card-wrap {
  padding: 8rem 5rem;
  height: 100%;
}
@media (max-width: 1400px) {
  .cid-tqJ4vA5QrU .card-wrap {
    padding: 4rem 3.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tqJ4vA5QrU .card-wrap {
    padding: 3rem 1rem;
  }
}
.cid-tqJ4vA5QrU .card1 {
  background: #17003b;
}
.cid-tqJ4vA5QrU .card2 {
  background: #17003b;
}
.cid-tqJ4vA5QrU .card3 {
  background: #17003b;
}
.cid-tqJ4vA5QrU .card-text,
.cid-tqJ4vA5QrU .mbr-section-btn,
.cid-tqJ4vA5QrU .social-row {
  color: #ffffff;
}
.cid-tqJ4vA5QrU .card-title,
.cid-tqJ4vA5QrU .social-row {
  color: #ffffff;
}
.cid-tqJ4vA5QrU .mbr-link,
.cid-tqJ4vA5QrU .content-wrap,
.cid-tqJ4vA5QrU path {
  color: #17003b;
}
.cid-tqJ4vA5QrU .mbr-price {
  color: #ffffff;
}
.cid-tqJ45Nn7NN {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #17003b;
}
.cid-tqJ45Nn7NN .mbr-overlay {
  background-color: #17003b;
  opacity: 0.4;
}
.cid-tqJ45Nn7NN .btn {
  height: 100%;
  min-height: 70px;
}
.cid-tqJ45Nn7NN .form-group {
  margin: 0 !important;
}
@media (max-width: 992px) {
  .cid-tqJ45Nn7NN .form-group {
    min-width: 100% !important;
    margin-bottom: 1rem;
  }
}
.cid-tqJ45Nn7NN form .row [class*=col] {
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-tqJ45Nn7NN p {
  margin-bottom: 4rem;
}
.cid-tqJ45Nn7NN h4 {
  margin-bottom: 1rem;
}
.cid-tqJ45Nn7NN .form-control,
.cid-tqJ45Nn7NN .field-input {
  padding: 1.5rem;
  background-color: #ffffff;
  border-color: #ffffff;
  border-radius: 0;
  color: #17003b;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-tqJ45Nn7NN .form-control::-webkit-input-placeholder,
.cid-tqJ45Nn7NN .field-input::-webkit-input-placeholder,
.cid-tqJ45Nn7NN .form-control::-webkit-input-placeholder,
.cid-tqJ45Nn7NN .field-input::-webkit-input-placeholder {
  color: #17003b;
}
.cid-tqJ45Nn7NN .form-control:-moz-placeholder,
.cid-tqJ45Nn7NN .field-input:-moz-placeholder,
.cid-tqJ45Nn7NN .form-control:-moz-placeholder,
.cid-tqJ45Nn7NN .field-input:-moz-placeholder {
  color: #17003b;
}
.cid-tqJ45Nn7NN .form-control:hover,
.cid-tqJ45Nn7NN .field-input:hover,
.cid-tqJ45Nn7NN .form-control:focus,
.cid-tqJ45Nn7NN .field-input:focus {
  background-color: #efefef;
  border-color: #ffffff !important;
  color: #17003b;
  box-shadow: none;
  outline: none;
}
.cid-tqJ45Nn7NN .form-control:hover::-webkit-input-placeholder,
.cid-tqJ45Nn7NN .field-input:hover::-webkit-input-placeholder,
.cid-tqJ45Nn7NN .form-control:focus::-webkit-input-placeholder,
.cid-tqJ45Nn7NN .field-input:focus::-webkit-input-placeholder,
.cid-tqJ45Nn7NN .form-control:hover::-webkit-input-placeholder,
.cid-tqJ45Nn7NN .field-input:hover::-webkit-input-placeholder,
.cid-tqJ45Nn7NN .form-control:focus::-webkit-input-placeholder,
.cid-tqJ45Nn7NN .field-input:focus::-webkit-input-placeholder {
  color: #17003b;
}
.cid-tqJ45Nn7NN .form-control:hover:-moz-placeholder,
.cid-tqJ45Nn7NN .field-input:hover:-moz-placeholder,
.cid-tqJ45Nn7NN .form-control:focus:-moz-placeholder,
.cid-tqJ45Nn7NN .field-input:focus:-moz-placeholder,
.cid-tqJ45Nn7NN .form-control:hover:-moz-placeholder,
.cid-tqJ45Nn7NN .field-input:hover:-moz-placeholder,
.cid-tqJ45Nn7NN .form-control:focus:-moz-placeholder,
.cid-tqJ45Nn7NN .field-input:focus:-moz-placeholder {
  color: #17003b;
}
.cid-tqJ45Nn7NN .jq-number__spin:hover,
.cid-tqJ45Nn7NN .jq-number__spin:focus {
  background-color: #efefef;
  border-color: #ffffff;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-tqJ45Nn7NN .jq-number__spin {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #17003b;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-tqJ45Nn7NN .jq-selectbox li,
.cid-tqJ45Nn7NN .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-tqJ45Nn7NN .jq-selectbox li:hover,
.cid-tqJ45Nn7NN .jq-selectbox li.selected {
  background-color: #efefef;
  color: #000000;
}
.cid-tqJ45Nn7NN .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-tqJ45Nn7NN .jq-number__spin.minus:hover:after,
.cid-tqJ45Nn7NN .jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-tqJ45Nn7NN .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-tqJ45Nn7NN .jq-number__spin.minus:after,
.cid-tqJ45Nn7NN .jq-number__spin.plus:after {
  border-top-color: #efefef;
  border-bottom-color: #efefef;
}
.cid-tqJ45Nn7NN input::-webkit-clear-button {
  display: none;
}
.cid-tqJ45Nn7NN input::-webkit-inner-spin-button {
  display: none;
}
.cid-tqJ45Nn7NN input::-webkit-outer-spin-button {
  display: none;
}
.cid-tqJ45Nn7NN input::-webkit-calendar-picker-indicator {
  display: none;
}
.cid-tqJ45Nn7NN H4 {
  color: #ffffff;
}
.cid-tqJ45Nn7NN P {
  color: #ffffff;
}
.cid-uMJwAUguPG {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #17003b;
}
.cid-uMJwAUguPG .custom-shape-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.cid-uMJwAUguPG .custom-shape-divider svg {
  position: relative;
  display: block;
  width: calc(101.3%);
  height: 40px;
}
.cid-uMJwAUguPG .custom-shape-divider .shape-fill {
  fill: #ffffff;
}
.cid-tqJ48wZyF3 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tqJ48wZyF3 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqJ48wZyF3 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tqJ48wZyF3 .underline {
  text-decoration: underline;
}
.cid-tqJ48wZyF3 .items {
  background: #ffffff;
  padding: 4rem 2rem;
}
@media (max-width: 767px) {
  .cid-tqJ48wZyF3 .items {
    padding: 3rem 1rem;
  }
}
.cid-tqJ48wZyF3 .card {
  border-bottom: 2px solid currentColor;
  border-radius: 0;
  margin-bottom: 2rem;
}
.cid-tqJ48wZyF3 .text-primary {
  background: #6bffc7;
}
.cid-tqJ48wZyF3 .noborder {
  border-bottom: 0;
}
.cid-tqJ48wZyF3 b,
.cid-tqJ48wZyF3 strong,
.cid-tqJ48wZyF3 a {
  font-weight: 900;
}
.cid-tqJ48wZyF3 .mbr-section-title {
  color: #17003b;
}
.cid-tqJ48wZyF3 .mbr-section-subtitle {
  color: #17003b;
}
.cid-tqJ48wZyF3 .mbr-item-title {
  text-align: center;
  color: #17003b;
}
.cid-tqJ48wZyF3 .mbr-item-text {
  text-align: center;
  color: #17003b;
}
.cid-tqJ48wZyF3 .mbr-item-title,
.cid-tqJ48wZyF3 .card {
  color: #17003b;
}
.cid-tqJ48wZyF3 .mbr-text {
  color: #17003b;
}
.cid-uMJwCX3iua {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #17003b;
}
.cid-uMJwCX3iua .custom-shape-divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.cid-uMJwCX3iua .custom-shape-divider svg {
  position: relative;
  display: block;
  width: calc(101.3%);
  height: 40px;
}
.cid-uMJwCX3iua .custom-shape-divider .shape-fill {
  fill: #ffffff;
}
.cid-tqJ47Lt4tP {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #17003b;
}
.cid-tqJ47Lt4tP p {
  text-align: center;
}
.cid-tqJ47Lt4tP .text-copyright {
  width: 100%;
  margin-bottom: 0;
}
.cid-tqJ47Lt4tP .img-logo-footer {
  margin-right: 1rem;
  max-width: 3rem;
}
.cid-tqJ47Lt4tP .text-logo-footer {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
}
.cid-tqJ47Lt4tP .logo-footer {
  line-height: normal;
}
.cid-tqJ47Lt4tP .copyright .list-inline {
  margin-bottom: 0;
}
.cid-tqJ47Lt4tP .copyright .list-inline .list-inline-item {
  margin: 10px 15px;
}
@media (max-width: 767px) {
  .cid-tqJ47Lt4tP .copyright .list-inline .list-inline-item {
    margin: 10px 6px;
  }
}
.cid-tqJ47Lt4tP li {
  overflow: hidden;
}
.cid-tqJ47Lt4tP .icon-transition span {
  display: block;
}
.cid-tqJ47Lt4tP .icon-transition:hover span {
  animation: 0.3s linear top;
}
.cid-tqJ47Lt4tP .list-inline-item a {
  display: block;
}
.cid-tqJ47Lt4tP .list-inline-item:hover a {
  animation: 0.3s linear top;
}
@keyframes top {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-100%);
  }
  51% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.cid-tqJ47Lt4tP .social-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tqJ47Lt4tP .media-container-row {
  align-items: center;
  justify-content: space-between;
}
.cid-tqJ47Lt4tP .icon-transition span {
  color: #ffffff;
  display: block;
  text-align: center;
  height: 2rem;
  border-radius: 50%;
  line-height: 2rem;
  width: 2rem;
  transition: all 0.3s ease-out 0s;
  font-size: 1.5rem;
}
.cid-tqJ47Lt4tP .social-media {
  display: flex;
  justify-content: flex-end;
}
.cid-tqJ47Lt4tP .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-tqJ47Lt4tP .social-media ul li {
  padding: 4px;
  display: inline-block;
}
@media (max-width: 991px) {
  .cid-tqJ47Lt4tP .logo-footer {
    text-align: center;
  }
  .cid-tqJ47Lt4tP .social-media {
    justify-content: center;
  }
}
